<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>DetailProduct</title>
</head>
<body>
<h3>View Product</h3>
<p>
    <a th:href="@{/products}">
        Back to product list
    </a>
</p>
<div id="detail">
    <div class="cus-detail">
        <label>Name:</label>
        <label th:text="${product.name}"></label>
    </div>
    <div class="cus-detail">
        <label>price:</label>
        <label th:text="${product.priceFormatted}"></label>
    </div>
    <div class="cus-detail">
        <label>information:</label>
        <label th:text="${product.information}"></label>
    </div>
</div>
</body>
</html>